
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}
<div class="center">
    <h1>Register a new person </h1>
    <br/>
    {{ wtf.quick_form(form) }}

</div>
<table class="table table-bordered">
  <thead>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Type</th>
    <th>Phone</th>
    <th>Date of birth</th>
    <th>Code</th>
  </thead>
  <tbody>

  {% for p in people %}
    <tr>
      <td>{{ p.name }}</td>
      <td>{{ p.surname }}</td>
      <td>{{ p.email }}</td>
      <td>{{ p.type }}</td>
      <td>{{ p.phone }}</td>
      <td>{{ p.bday }}</td>
      <td>{{ p.code }}</td>
    </tr>
  {% endfor %}

  </tbody>
  </table>
{% endblock %}